@model IEnumerable<BandManager.Models.Show>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "button" })
</p>
<table>

    <tr>
        <th></th>
        <th>Name</th>
        <th>Date</th>
        <th>Location</th>
        <th>Description</th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td><img src="@Url.Content(string.Format("~/content/images/shows/{0}", @item.PhotoUrl))" style="width:100px;" /></td>
        <td>@Html.ActionLink(item.VenueName, "Edit", new { id = item.ID })</td>
        <td>@item.Date.ToShortDateString()</td>
        <td>@item.VenueLocation</td>
        <td>@item.Description</td>
        <td>@Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "button" })</td>
        <td>
            @using (Html.BeginForm("Delete", "Shows", FormMethod.Post))
            {
                @Html.Hidden("id", item.ID)
                <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this item?');" />
            }
        </td>
    </tr>
}

</table>
